//COLOURS
$primary-colour: #edf2f8;
$secondary-colour: #607bae;

$primary-black: #141414;
$primary-lgrey: #e4e4e4;
$primary-grey: #5a5a5a;
$primary-brown: #46364a;
$primary-white: #ffffff;

// BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
