//COLOURS
$primary-colour: #fcf8eb;
$secondary-colour: #00b6f1;
$tertiary-colour: #efd587;

$primary-black: #363636;
$primary-lgrey: #e4e4e4;
$primary-grey: #4b4b4b;
$primary-brown: #46364a;
$primary-white: #ffffff;

// BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
