@use "./partials/resets";
@use "./partials/typology";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.app {
  background-color: $primary-colour;

  &__whitebg {
    background-color: $primary-white;
  }

  &__primarybg {
    background-color: $primary-colour;
  }

  &__container {
    width: 100%;
    min-height: 100vh;
    @include flex(row, center, center);
  }

  &__wrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 12rem 2rem;
  }

  &__social,
  &__navigation {
    padding: 4rem;
  }

  &__social {
    @include flex(column, flex-end, center);
  }

  &__social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $primary-white;
    margin: 0.5rem 0;
    border: 1px solid $primary-lgrey;
    @include flex(row, center, center);
    transition: all 1s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: $primary-grey;
    }

    &:hover {
      background-color: $secondary-colour;
      border-color: $secondary-colour;

      svg {
        color: $primary-white;
      }
    }
  }

  &__navigation {
    @include flex(column, center, center);
    width: auto;
  }

  &__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $primary-grey;
    background-color: $secondary-colour;
    margin: 0.5rem;
    transition: background-color 0.2s ease-in-out;
    color: transparent;

    &:hover {
      background-color: $primary-colour;
    }
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;
  @include flex(column, flex-end, flex-end);

  p {
    text-transform: uppercase;
  }
}

.head-text {
  font-size: 4rem;
  font-family: "DMSans-Bold";
  text-align: center;
  text-transform: capitalize;
}

.p-text {
  font-size: 1.4rem;
  text-align: left;
  color: $primary-grey;
  line-height: 1.5;
}

.bold-text {
  font-size: 1.8rem;
  font-family: "DMSans-Bold";
  text-align: left;
}

span {
  color: $secondary-colour;
}

@media screen and (max-width: 600px) {
  .app__container {
    flex-direction: column;
  }
  .app__navigation {
    display: none;
  }

  .app__social {
    order: 2;
    padding: 0;
    padding-bottom: 2rem;
    flex-direction: row;
  }

  .app__social-icon {
    margin-right: 2rem;
    width: 55px;
    height: 55px;

    svg {
      width: 22px;
      height: 22px;
    }
  }

  .copyright {
    align-items: center;
    text-align: center;
    order: 4;
    p {
      font-size: 1.2rem;
    }
  }
}
