@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  flex: 1;
  width: 100%;
  @include flex(column, center, center);
  min-height: 100%;

  p,
  &__button {
    margin: 2rem 0;
  }
  h1 {
    padding: 2rem 0;
  }

  &__button {
    @include flex(row, center, center);
    background-color: $primary-colour;
    font-family: "DMSans-Bold";
    color: $primary-black;
    border: 1px solid $primary-grey;
    padding: 4px 1rem;
    border-radius: 15px;

    &:hover {
      cursor: pointer;
      background-color: $primary-grey;
      color: $primary-white;
    }
  }
}
