@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

#home {
  position: relative;
  background: url("../../assets/BgOptions/splash2.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(237, 237, 237, 0.118);

  background-blend-mode: lighten;

  .app__wrapper {
    padding: 0;
    .copyright {
      display: none;
    }
  }
}

.header {
  padding: 0 4rem;
  margin-bottom: 8rem;
  &__info {
    @include flex(column, flex-start, flex-end);

    h1 {
      font-size: 5rem;
      color: $primary-black;
    }

    p {
      font-size: 2rem;
      color: $primary-white;
      letter-spacing: 1px;
    }
  }

  &__title {
    text-align: left;
  }

  &__description {
    width: 60%;
    text-align: right;
    @media screen and (max-width: 950px) {
      width: 90%;
    }
  }
}
